#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1f66ad;
  margin-top: 60px;
}

#header {
  margin: 0;
}

#center {
  margin: 0;
}

#footer {
  margin: 0;
}
