.headerview{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 26, 255, 0.986);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
#logo{
    width: 10%;
    height: 20%;
}

#logo img{
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.mine{
    width: 100%;
    height: 20%;
    border-width: 1px;
    border-color: black;
    border-style: solid;

}
#search form input{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-top: 1%;
    margin-right:5%;
    
}
#MineBar{
    width: 90%;
    margin: 10%;
    border-radius: 1px;
    border-style: inset;
    border-color: black;
}
#search form{
    border-radius: 5px;
    border-style: solid;
    border-right: black;
}