ul{
	list-style: none;
}
.sidebar{
    display: flex;
    padding: 20px 0;
}
.links{
   width: 100%;
   padding: 0 15px;
}
.links ul :not(:last-child){
	margin-bottom: 10px;
}
.links ul a{
    width: 70px;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #bbbbbb;
    margin-right: 50px;
	display: block;
	transition: all 0.3s ease;
}
.links ul{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
    margin-right: 10px;
	display: flex;
	transition: all 0.3s ease;
}
.links ul  a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.links .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.links .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}