.headerview{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(237, 15, 15, 0.575);

}
#logo{
    width: 100px;
    height: 20%;
    font-size: 30px;
    margin: 0 auto;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px;
}

#logo a{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.mine{
    width: 100%;
    height: 20%;

}

#MineBar{
    width: 90%;
    margin: 10%;
}
.hedar {
    width: auto;

}
#search-container {
    display: flex;
    align-items: center;
    width: 30%;
    max-width: 600px; 
    margin: 0 auto; 
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 15px;
}

#search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 20px;
    border-radius: 25px;
}

#search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-button i {
    color: #555151;
}
* {
    box-sizing: border-box;
}
form.example button {
    float: left;
    width: 1%;
    padding: 7px;
    background: #2196F3;
    color: rgb(255, 0, 0);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 95%;
    background: #f1f1f1;
}
form.example button:hover {
    background: #008cff;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

#user a{
    width:20%;
	height: 20%;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 500;
	color: #000000;
    margin-right: 10%;
	display: inline-block;
	transition: all 0.3s ease;
	padding-right:2%;

}




#user{
    width: 30%;
    font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #fdfdfd;
    margin-right: 0%;
	display: flex;
	transition: all 0.3s ease;
}
#user  a:hover{
	color: #0400ff;
	padding-left: 1px;
}
#user .social-links a{
	display: inline-block;
	height: 10%;
	width: 8%;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
#user .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
#up{
    width:auto;
    height: auto;
    display: flex;
    padding:2% 0% 2%;
    
}

